* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

.app {
  &-header {
    &__wrapper {
    }

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid #ccc;
  }
}
